@model IEnumerable<WebApplication2.Models.Contact>

@{
    ViewData["Title"] = "Index";
}
<button onclick="getAllContacts()">getAllContacts </button>
<button onclick="getContactData()">getContactData </button>
<button onclick="addContact()">addContact </button>
<button onclick="delContact()">delContact </button>
<button onclick="putContact()">putContact </button>
<button onclick="postMessege()">PostMessege </button>
<button onclick="delMessege()">deleteMessege </button>
<button onclick="getMesseges()">getMesseges </button>
<button onclick="getMessege()">getMessege </button>
<button onclick="putMessege()">putMessege </button>
<button onclick="postUser()">postUser </button>
<button onclick="getAllUsers()">getAllUsers </button>
<button onclick="getUser()">getUser </button>
<button onclick="postUser2()">postUser2 </button>
<button onclick="addContact2()">addContact2 </button>




@section Scripts{
    <script src="~/js/restosh.js"></script>
   }