@model IEnumerable<WebApplication2.Models.Contact>

@{
    ViewData["Title"] = "Index";
}
<button onclick="getAll()">GetAll </button>
<button onclick="get()">Get </button>
<button onclick="post()">Post </button>
<button onclick="del()">Delete </button>
<button onclick="put()">Put </button>

@section Scripts{
    <script src="~/js/rest.js"></script>
   }