
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;  
    margin-top: 5%;
    background-size: 80%;
    position: relative;
}
h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 1%;
    background-size: 80%;
    position: relative;
}
#createNew {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 1%;
    background-size: 80%;
    position: relative;
}

#input1 {
    width: 25%;
}

#search1 {
    font-family: 'Helvetica Neue', sans-serif;
    width: 7%;
    height: 30px;
    margin: 8px 0;
    font-size: medium;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding-bottom: 2%;
}
#input1, #search1 {
    display: inline;
}

#searchMiddele {
    margin-top: 1%;
    background-size: 80%;
    margin-top: 1%;
    background-size: 80%;
    position: relative;
}

